Checkpoint backups/
delete/
brewops-notifications-setup/
*.zip
*.jpg
*.JPG
node_modules/

# Android/Capacitor (android/lietard/)
android/lietard/android/local.properties
android/lietard/**/.gradle/
android/lietard/**/build/
android/lietard/**/.idea/
android/lietard/android/app/release/
*.iml
